.grid { border-collapse: collapse; border: 1px solid grey; }
.grid td, .grid th { vertical-align: top; border: 1px solid #808080; }
.grid .errorMessage { font-size: x-small; }
.grid tr.head { background:#E4E4F8; }
.grid tr.odd { background:#E5F1F4; }
.grid tr.even { background:#F8F8F8; }
.grid tr.odd2 { background:#D7E6EC; }
.grid tr.even2 { background:#F2F3F3; }
.grid span.null { color: pink; }
td label.first { margin-right: 20px; }
.viewandedit td, .viewandedit th { vertical-align: middle!important; }
.tblsmall { width: auto!important; }
.tblsmall th { width: auto!important; }
span.excl { font-weight: bold; color: #cc0000; font-size: 13pt; }
.flash-right { float: right; width: 300px; margin-top: 0!important; }
.flash-banner { /*border: 2px solid #95a0b1; border-width: 0 2px 2px 0;*/ margin-right: 130px; }
.white-bg td { background-color: #fff; }

.detail-info-lbl { border: 1px #336699 solid; 
	padding: 2px 4px 2px 4px; margin: 0px 6px 6px 0px; display: inline-block; }
.pytdetl b { display: inline-block; width: 110px; font-weight: normal; color: #339; }
.pytinfo td span, .pytinfo td b { display: inline-block; position: relative; top: -15px; }
.small-note { font-size: 0.8em; color: #330099; margin-left: 15px; }

.rating { float: right; display: block; }
span.compact { border-bottom: 1px #336633 dotted; }

.body-nokia { background: #fff url(../img/logos/nokia.png) no-repeat top right!important; }
.body-nokia .breadcrumbs { margin-bottom: 25px; }

#top-operations { float: right; padding-right: 30px; }
#top-operations ul { height: 22px; }
#top-operations li { float: left; margin-right: 8px; background-color: #ccccff; padding-right: 6px;  }

#add-address { display: block; text-align: center; font-weight: bold; }

.radio-row { height: 22px; padding-left: 20px; }
.radio-row input[type=radio] { float: left; margin-right: 6px; }
.radio-row label { font-weight: normal!important; padding-top: 3px; display: inline!important; }

td.edit { padding-right: 2px; width: 160px; }
td.edit .right { padding-left: 2px; }

.submitrgt { text-align: right; margin: 8px 0px 12px 0px; }
.toggle { background: url(more.png) no-repeat left center; 
  height: 22px; display: inline-block; cursor: pointer;
  padding-left: 22px; color: #333; font-weight: 900; font-size: 8pt; line-height: 22px; }
.toggledown { background-image: url(less.png); }

.pvwimg { display: none; }
#pvwdiv { padding: 10px; position: absolute; border: 2px solid #33cc99; background-color: #fff;
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
  -moz-box-shadow: 3px 3px 4px #99ccff; -webkit-box-shadow: 3px 3px 4px #99ccff; box-shadow: 3px 3px 4px #99ccff;}
.pvwcell { background: url(pvwcell.png) no-repeat center right; }

.img-side { margin-bottom: 15px; text-align: center; padding: 10px 0 10px 0; }
.img-side img { margin: auto; }

.product, .img-side { border: thin teal solid; 
	-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.product { width: 205px; height: 130px; padding: 5px; margin: 0 10px 10px 0; float: left; font-size: 10pt; }
#sidebar .product { width: 160px; float: none; height: 170px; text-align: center; }
#sidebar .product .delivery { color: #9D9886; font-size: small; padding: 5px; }
#sidebar .product .amt { padding: 0 30px 0 30px; }
#sidebar .product input[type=submit] { background-color: #D40722; color: #fff;
	padding: 4px 8px 4px 8px; font-weight: bold; border: 1px #800000 solid; margin-top: 5px;
	-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;  }

.product .pnew { float: right; }
.product h3 { margin: 4px 0; }
.product .img { float: left; margin-right: 2px; width: 80px; overflow: hidden; text-align: center; }
.product .amt { margin: 8px 0 5px 0; height: 40px; }
.product .off { width: 40px; float: left; margin-right: 4px; padding: 5px 0 5px 0;
	font-size: 8pt; color: #fff; background: #dc0316 url(discount.png) no-repeat; font-weight: bold; text-align: center; }
.product .mrp { text-decoration: line-through; line-height: 20px; }
.product .price { font-weight: bold; color: #a50123; line-height: 20px; }
.product .save { font-weight: bold; color: #0123A5; padding-left: 8px; }
.product select, .product .qty { font-size: 9pt; }
.product select { width: 70px; margin-left: 3px; }
.product .qtylbl { padding-left: 6px; color: #999; font-size: 6pt; }
.product .out-of-stock { padding: 4px; display: inline-block; margin-top: 5px; 
	background-color: #ffccff; color: #da0615; font-weight: bold; }

.clear { clear: both; height: 0px; }

#specs { width: 350px; }
#specs th { text-align: left; background-color: #b7d6e7; }
#altprod h2 { margin-top: 20px; }
#altprod img { margin-right: 12px; }

#varndiv { background-color: #c9e7c0; position: absolute; border: 1px solid #33cc99; padding: 3px; }
#varndiv input[type="text"] { margin-right: 5px; }


#actions { padding-bottom: 20px; }
#actions a, a.button { padding: 5px 15px 5px 15px; letter-spacing: 2px; color: #fff; 
  background-color: #333; margin-right: 5px; text-decoration: none;
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
#actions a:hover { background-color: #933; }
#actions a.current { background-color: #063; }
#actions input[type="text"] { width: 90px; margin: 0px 6px 0px 5px; }
.txtdeflt { color: #C1C3B8; }

.helpcontent h3 { margin: 0!important; }
.helpcontent td { padding-bottom: 1.2em!important; }

.qty input[type="text"], .product input[type="text"], #varndiv input[type="text"] { width: 25px; }

.prod-model { text-decoration: underline; }
#mapkey { margin: 0; padding: 0; border: 1px solid gray; border-bottom: none; }
#mapkey li { list-style-type: none; padding: 4px; border-bottom: 1px solid gray; }
#mapkey li.even { background-color: #f8f8f8; }
#mapkey li.odd { background-color: #e5f1f4; }

b.demo { background-color: #99cc99; padding: 3px; }
div.email { margin: 10px auto 20px auto; width: 600px; background-color: #fee; padding: 10px;  }
