body { margin: 0; padding: 0; color: #555; font: normal 10pt Arial,Helvetica,sans-serif;
	background-color: #12a5d0; cursor: default; }
#page { margin-top: 10px; margin-bottom: 5px; background: white; border: 1px solid #C9E0ED; }
#header { margin: 0; padding: 0; border-top: 3px solid #C9E0ED; }
#content { padding: 20px; }
#sidebar { padding: 20px 20px 20px 0; }
#footer { padding: 10px; margin: 10px 20px 0px 20px; font-size: 0.8em; text-align: center; border-top: 1px solid #C9E0ED; }
#footer .credits { float: right; text-align: right; } #footer .links { float: left; text-align: left; }
#footer .links, #footer .credits { width: 160px; margin: 0px; text-indent: 0px; }
#mainMbMenu { padding-left: 10px!important; }
#mainMbMenu .nav-item { float: left; margin-right: 5px; }
#logo { padding: 4px 146px 0 0; float: right; height: 36px; line-height: 36px; 
  background: #666e73 url(logo.png) no-repeat right center; color: #fff; font-weight: bold; }
#logo #user-link { line-height: 36px; display: block; float: left; padding: 0 6px 0 28px; 
	background: url(logo_corner.png) no-repeat bottom left; }
#mainmenu { background: white url(bg.gif) repeat-x left top; }
#mainmenu ul { padding: 6px 20px 5px 20px; margin: 0px; }
#mainmenu ul li { display: inline; }
#mainmenu ul li a, #mainmenu ul li span { color: #ffffff; background-color: transparent; font-size: 12px; font-weight: bold; text-decoration: none; padding: 5px 8px; }
#mainmenu ul li a: hover, #mainmenu ul li.active a { color: #6399cd; background-color: #EFF4FA; text-decoration: none; }

/* popout menu for navigation / locations */
.popout ul li{padding:0;float:left;margin:0;position:relative;}
.popout ul li ul{display:none;position:absolute;}
.popout ul li ul li{float:none;padding:0;margin:0;z-index:100;}
.popout ul li:hover > ul{display:block;}
.popout ul li ul { border: 1px #8183A1 solid; }
.popout ul li ul li { border-top: 1px #8183A1 solid; }
.popout ul li ul li.first { border-top-style: none; }
      .nav { height:26px;}
      .nav ul li ul{background-color:#4F7FAB; padding: 0px!important; top: 18px; }
      .nav ul li ul li a { display: inline-block; width: 100px; line-height: 20px; }
      .nav ul li ul li a:hover { background-color: #72D3AF!important; }
.locations { height: 20px; }
.locations ul{padding:0;margin:0;list-style:none;}
.locations ul li ul { background-color:#BCD0EA; top: 0px!important; left: 56px; }
.locations ul li ul li a { display: inline-block; width: 160px; line-height: 20px; padding: 3px; }

div.flash-error, div.flash-notice, div.flash-success { padding: .8em; margin: 1em; border: 2px solid #ddd; }
div.flash-error { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
div.flash-notice { background: #FFF6BF; color: #514721; border-color: #FFD324; }
div.flash-success { background: #E6EFC2; color: #264409; border-color: #C6D880; }
div.flash-error a { color: #8a1f11; }
div.flash-notice a { color: #514721; }
div.flash-success a { color: #264409; }
div.form .rememberMe label { display: inline; }
div.view { padding: 10px; margin: 10px 0; border: 1px solid #C9E0ED; }
div.breadcrumbs { font-size: 0.9em; padding: 5px 20px; }
div.breadcrumbs span { font-weight: bold; }
div.search-form { padding: 10px; margin: 10px 0; background: #eee; }
.portlet { }
.portlet-decoration { padding: 3px 8px; background: #B7D6E7; border-left: 5px solid #6FACCF; }
.portlet-title { font-size: 12px; font-weight: bold; padding: 0; margin: 0; color: #298dcd; }
.portlet-content { font-size: 0.9em; margin: 0 0 15px 0; padding: 5px 8px; background: #EFFDFF; }
.portlet-content ul { list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0; }
.portlet-content li { padding: 2px 0 4px 0px; }
.operations { list-style-type: none; margin: 0; padding: 0; }
.operations li { padding-bottom: 2px; }
.operations li a { font: bold 12px Arial; color: #0066A4; display: block; padding: 2px 0 2px 8px; line-height: 15px; text-decoration: none; }
.operations li a: visited { color: #0066A4; }
.operations li a: hover { background:#80CFFF; }
