<div style="font-size: 8.5pt;font-family: Arial; width: 624px">
	<img width="627" height="78" src="deloitte.gif" alt=Deloitte /><br />
	
	<p style="color: #CC3300;font-weight: bold;">The following is an important ALERT from
		<a style="text-decoration:none; color: #17365D" href="https://www.deloittenet.com/Services/MyTechnology/default.htm"><u>Information Technology Services</u></a>
		(ITS). If you question the authenticity of this message, please contact the CallCenter at 2222
		or 1 800 DELOITTE (1 800 335 6488).
	</p>
	
	<p style="color: gray; font-weight: bold;">Information Technology Services</p>
	
	<p style="font-size: 16pt; color: #17365D; font-family: 'Times New Roman';">Thank You for placing an order with us!</p>
	
	<p style="font-size: 9pt; color: red; font-weight: bold;">Your order has been accepted for further review by a Deloitte Authorized Personal (AOP). The order approval may take 24-48 hours, post which you will receive an email confirmation with the tracking details.</p>
	
	<p style="font-size: 9pt; color: #333;">For any questions or issues, contact the Call Center at 2222 (inside office) or 1 800 DELOITTE
	(1 800 335 6488 outside office), or submit a non-urgent
	<a style="text-decoration:none; color: #002766" href="https://deloittenet.deloitte.com/WT/Tech/Support/Pages/APP_ServiceDesk11.aspx"><b>support request</b></a>
	on <a style="text-decoration:none; color: #002766" href="https://deloittenet.deloitte.com/WT/Tech/Support/Pages/MyHelpDesk.aspx"><b>My Helpdesk</b></a>, or 
	visit your local <a style="text-decoration:none; color: #002766" href="https://deloittenet.deloitte.com/WT/Tech/Pages/APP_FindLocalWalk-UpSupport.aspx"><b>ITS walkup support</b></a>.</p>
	
	<p style="font-size: 9pt;">Best Regards,<br>
	<b>US Mobility COE</b></p>
	
	<p style="margin-top: 25px; border-top: 1px solid #000; padding-top: 10px;">As used in this document, “Deloitte” means Deloitte LLP and its subsidiaries. Please see
	<a style="text-decoration:none; color: #17365D" href="http://www.deloitte.com/us/about"><b>www.deloitte.com/us/about</b></a> for a detailed description of the legal structure
	of Deloitte LLP and its subsidiaries. Certain services may not be available to attest clients under the rules and regulations
	of public accounting.</p>
	
	<p style="font-weight: bold;">
		<a style="text-decoration:none; color: #002776" href="https://deloittenet.deloitte.com/WT/Tech/Pages/home.aspx">My Technology</a> |
		<a style="text-decoration:none; color: #002776" href="http://www.deloitte.com/us/security">Security</a> |
		<a style="text-decoration:none; color: #002776" href="http://www.deloitte.com/us/legal">Legal</a> |
		<a style="text-decoration:none; color: #002776" href="http://www.deloitte.com/us/privacy">Privacy</a>
	</p>
	
	<p>Copyright © 2013 Deloitte Development LLC. All rights reserved.<br>
  Member of Deloitte Touche Tohmatsu Limited</p>
</div>
